pandas==1.4.3
numpy==1.23.1
Flask==2.2.1
streamlit==1.11.1
keras==2.9.0
tensorflow==2.9.1
matplotlib==3.5.2
jupyter==1.0.0
scikit-learn
scikit-image==0.19.3
chess==1.9.2
glob2==0.7
opencv-python==4.6.0.66
